content/legacy/docs/transfers/transfers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Attribute" nillable="true" type="Attribute" />
  <xs:complexType name="Attribute">
    <xs:attribute name="key" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="Attributes" nillable="true" type="Attributes" />
  <xs:complexType name="Attributes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="Attribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationCredentials" nillable="true" type="ConfigurationCredentials" />
  <xs:complexType name="ConfigurationCredentials">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="UrlGeneric" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UrlIdentification" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UrlAvailability" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UrlRateRule" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UrlBook" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UrlsSpecific" nillable="true" type="Attributes" />
    </xs:sequence>
    <xs:attribute name="user" type="xs:string" />
    <xs:attribute name="password" type="xs:string" />
  </xs:complexType>
  <xs:element name="ConfigurationProvider" nillable="true" type="ConfigurationProvider" />
  <xs:complexType name="ConfigurationProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="ConfigurationCredentials" />
      <xs:element minOccurs="0" maxOccurs="1" name="Attributes" type="Attributes" />
    </xs:sequence>
    <xs:attribute name="codeProvider" type="xs:string" />
  </xs:complexType>
  <xs:element name="TransfersBaseRQ" nillable="true" type="TransfersBaseRQ" />
  <xs:complexType name="TransfersBaseRQ" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRQ">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Configuration" type="ConfigurationProvider" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseRQ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="echoToken" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="timeoutMilliseconds" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="source" type="Source" />
      <xs:element minOccurs="0" maxOccurs="1" name="filterAuditData" type="FilterAuditData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="agencyCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilterAuditData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="registerTransactions" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransfersBaseRS" nillable="true" type="TransfersBaseRS" />
  <xs:complexType name="TransfersBaseRS" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Success" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="Warnings" />
          <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="Errors" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseRS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="echoToken" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="auditData" type="AuditData" />
      <xs:element minOccurs="1" maxOccurs="1" name="operationImplemented" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="applicationErrors" type="ApplicationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="Transaction" />
      <xs:element minOccurs="1" maxOccurs="1" name="timeStamp" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="processTimeMilliseconds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="timeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="RQ" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RS" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Warnings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Warning" type="Warning" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Warning">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Code" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Errors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="MyError" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MyError">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Code" type="errorCodesType" use="required" />
        <xs:attribute name="ShortText" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="errorCodesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="101" />
      <xs:enumeration value="102" />
      <xs:enumeration value="104" />
      <xs:enumeration value="208" />
      <xs:enumeration value="207" />
      <xs:enumeration value="204" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CancelBookingRQ" type="CancelBookingRQ" />
  <xs:complexType name="CancelBookingRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Locator" type="Locator" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Locator">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="type" type="eLocatorType" use="required" />
  </xs:complexType>
  <xs:simpleType name="eLocatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENT" />
      <xs:enumeration value="PROVIDER" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CancelBookingRS" type="CancelBookingRS" />
  <xs:complexType name="CancelBookingRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Locators" type="Locators" />
          <xs:element minOccurs="0" maxOccurs="1" name="CanceledRates" type="CanceledRates" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalCancellationPenalty" type="Price" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReservationStatus" type="eTransactionStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Locators">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Locator" type="Locator" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CanceledRates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CanceledRate" type="CanceledRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CanceledRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SelectedOptions" type="SelectedOptions" />
      <xs:element minOccurs="0" maxOccurs="1" name="CancellationPenalty" type="Price" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="providerCode" type="xs:string" />
    <xs:attribute name="providerExternalCode" type="xs:string" />
    <xs:attribute name="rateType" type="eRateType" use="required" />
  </xs:complexType>
  <xs:complexType name="SelectedOptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedOption" type="SelectedOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectedOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Segment" type="Segment" />
      <xs:element minOccurs="0" maxOccurs="1" name="Transfers" type="Transfers" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parameters" type="Parameters" />
    </xs:sequence>
    <xs:attribute name="status" type="xs:string" />
    <xs:attribute name="id" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="Segment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Origin" type="Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="Destination" type="Location" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FlightInfo" type="FlightInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelInfo" type="HotelInfo" />
    </xs:sequence>
    <xs:attribute name="type" type="eLocationType" use="required" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="latitude" type="xs:string" />
    <xs:attribute name="longitude" type="xs:string" />
    <xs:attribute name="date" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:complexType name="FlightInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Arrival" type="TerminalInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Departure" type="TerminalInfo" />
    </xs:sequence>
    <xs:attribute name="flightNumber" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TerminalInfo">
    <xs:attribute name="terminal" type="xs:string" />
    <xs:attribute name="date" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:complexType name="HotelInfo">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="address" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="eLocationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CTY" />
      <xs:enumeration value="ZON" />
      <xs:enumeration value="ARP" />
      <xs:enumeration value="STA" />
      <xs:enumeration value="PRT" />
      <xs:enumeration value="HOT" />
      <xs:enumeration value="PDI" />
      <xs:enumeration value="GEOCODE" />
      <xs:enumeration value="OTH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Transfers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transfer" type="Transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Transfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Info" type="InfoTransfer" />
      <xs:element minOccurs="0" maxOccurs="1" name="LocOrigin" type="Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="LocDestination" type="Location" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="routeId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="InfoTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Frequency" type="Frequency" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransferStops" type="TransferStops" />
      <xs:element minOccurs="0" maxOccurs="1" name="Images" type="Images" />
      <xs:element minOccurs="0" maxOccurs="1" name="vendorMessages" type="ArrayOfVendorMessage" />
    </xs:sequence>
    <xs:attribute name="type" type="eTransferType" use="required" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="externalCode" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="typeVeh" type="xs:string" />
    <xs:attribute name="codeVeh" type="xs:string" />
    <xs:attribute name="externalCodeVeh" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Frequency">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="minutes" type="xs:int" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TransferStops">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferStop" type="TransferStop" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransferStop">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="latitude" type="xs:string" />
    <xs:attribute name="longitude" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Images">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" type="Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfVendorMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vendorMessage" nillable="true" type="vendorMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vendorMessage" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Tittle" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="Language" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="eTransferType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNSPECIFIED" />
      <xs:enumeration value="LIM" />
      <xs:enumeration value="CAR" />
      <xs:enumeration value="BUS" />
      <xs:enumeration value="TAX" />
      <xs:enumeration value="PRV" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Parameters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter" type="Parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parameter">
    <xs:attribute name="key" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Price">
    <xs:attribute name="currency" type="xs:string" />
    <xs:attribute name="amount" type="xs:decimal" use="required" />
    <xs:attribute name="priceType" type="ePriceType" use="required" />
    <xs:attribute name="commission" type="xs:decimal" />
  </xs:complexType>
  <xs:simpleType name="ePriceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NET" />
      <xs:enumeration value="BINDING" />
      <xs:enumeration value="COMMISSION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eRateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OW" />
      <xs:enumeration value="RT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eTransactionStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNSUCCESSFUL" />
      <xs:enumeration value="REQUESTED" />
      <xs:enumeration value="RESERVED" />
      <xs:enumeration value="CANCELLED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QuantityPriceInfo" nillable="true" type="QuantityPriceInfo" />
  <xs:complexType name="QuantityPriceInfo">
    <xs:attribute name="from" type="xs:string" />
    <xs:attribute name="to" type="xs:string" />
    <xs:attribute name="amount" type="xs:decimal" use="required" />
    <xs:attribute name="amountType" type="eBagPriceAmountType" use="required" />
  </xs:complexType>
  <xs:simpleType name="eBagPriceAmountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PerItem" />
      <xs:enumeration value="PerRange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BagPricesInfo" nillable="true" type="BagPricesInfo" />
  <xs:complexType name="BagPricesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BagPriceInfo" type="QuantityPriceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="Booking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ProviderCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Locator" type="Locator" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraLocators" type="Locator" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalPrice" type="Price" />
      <xs:element minOccurs="0" maxOccurs="1" name="SelectedRates" type="SelectedRates" />
      <xs:element minOccurs="0" maxOccurs="1" name="GlobalAddressesInfo" type="GlobalAddressesInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassengersConfirm" type="PassengersConfirm" />
      <xs:element minOccurs="0" maxOccurs="1" name="Customer" type="Customer" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReservationStatus" type="eTransactionStatusType" />
    </xs:sequence>
    <xs:attribute name="TransactionStatusCode" type="eTransactionStatusCode" />
  </xs:complexType>
  <xs:complexType name="SelectedRates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedRate" type="SelectedRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectedRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Taxes" type="Taxes" />
      <xs:element minOccurs="0" maxOccurs="1" name="SelectedOptions" type="SelectedOptions" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalRate" type="Price" />
      <xs:element minOccurs="0" maxOccurs="1" name="Vendor" type="Vendor" />
      <xs:element minOccurs="0" maxOccurs="1" name="Passengers" type="Passengers" />
      <xs:element minOccurs="0" maxOccurs="1" name="BagPricesInfo" type="BagPricesInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="CancellationPolicies" type="CancellationPolicies" />
      <xs:element minOccurs="0" maxOccurs="1" name="SelectedSupplements" type="SelectedSupplements" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="providerCode" type="xs:string" />
    <xs:attribute name="providerExternalCode" type="xs:string" />
    <xs:attribute name="providerName" type="xs:string" />
    <xs:attribute name="rateType" type="eRateType" use="required" />
  </xs:complexType>
  <xs:complexType name="Taxes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IncludedTaxes" type="IncludedTaxes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IncludedTaxes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncludedTax" type="IncludedTax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IncludedTax">
    <xs:attribute name="id" type="eTaxId" use="required" />
  </xs:complexType>
  <xs:simpleType name="eTaxId">
    <xs:restriction base="xs:string">
      <xs:enumeration value="V" />
      <xs:enumeration value="G" />
      <xs:enumeration value="O" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Vendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ContactPhoneList" type="ContactPhoneList" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ContactPhoneList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPhone" type="ContactPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactPhone">
    <xs:attribute name="phoneNumber" type="xs:string" />
    <xs:attribute name="phoneTechType" type="ePhoneTechnologyType" />
    <xs:attribute name="phoneUseType" type="ePhoneUseType" />
  </xs:complexType>
  <xs:simpleType name="ePhoneTechnologyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VOICE" />
      <xs:enumeration value="DATA" />
      <xs:enumeration value="FAX" />
      <xs:enumeration value="PAGER" />
      <xs:enumeration value="MOBILE" />
      <xs:enumeration value="TTY" />
      <xs:enumeration value="TELEX" />
      <xs:enumeration value="VOICE_OVER_IP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ePhoneUseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMERGENCY_CONTACT" />
      <xs:enumeration value="TRAVEL_ARRANGER" />
      <xs:enumeration value="DAYTIME_CONTACT" />
      <xs:enumeration value="EVENING_CONTACT" />
      <xs:enumeration value="CONTACT" />
      <xs:enumeration value="TOLL_FREE_NUMBER" />
      <xs:enumeration value="GUEST_USE" />
      <xs:enumeration value="PICKUP_CONTACT" />
      <xs:enumeration value="ELECTRONIC_DOCUMENT_REFERENCE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Passengers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Passenger" type="Passenger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Passenger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RefSegments" type="RefSegments" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="age" type="xs:int" use="required" />
    <xs:attribute name="paxType" type="ePaxType" use="required" />
    <xs:attribute name="amount" type="xs:decimal" />
  </xs:complexType>
  <xs:complexType name="RefSegments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RefSegment" type="RefSegment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefSegment">
    <xs:attribute name="refSegment" type="xs:int" use="required" />
    <xs:attribute name="bags" type="xs:int" use="required" />
  </xs:complexType>
  <xs:simpleType name="ePaxType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADT" />
      <xs:enumeration value="CHD" />
      <xs:enumeration value="INF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CancellationPolicies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CancellationPolicy" type="CancellationPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="VendorMessage" type="vendorMessage" />
    </xs:sequence>
    <xs:attribute name="amount" type="xs:decimal" use="required" />
    <xs:attribute name="dateFrom" type="xs:dateTime" use="required" />
    <xs:attribute name="PenaltyType" type="ePenaltyType" use="required" />
    <xs:attribute name="noRefundable" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:simpleType name="ePenaltyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PERCENTUAL" />
      <xs:enumeration value="PER_DAY" />
      <xs:enumeration value="TOTAL_AMOUNT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SelectedSupplements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedSupplement" type="SelectedSupplement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectedSupplement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Quantity" type="QuantityPriceInfo" />
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="GlobalAddressesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GlobalAddressInfo" type="GlobalAddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GlobalAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OriginGlobalLocation" type="GlobalLocation" />
      <xs:element minOccurs="0" maxOccurs="1" name="DestinationGlobalLocation" type="GlobalLocation" />
    </xs:sequence>
    <xs:attribute name="refTransfer" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="GlobalLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FlightInfo" type="FlightInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="PlaceInfo" type="PlaceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceInfo">
    <xs:attribute name="originDateTime" type="xs:dateTime" use="required" />
    <xs:attribute name="destinationDateTime" type="xs:dateTime" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="address" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PassengersConfirm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PassengerConfirm" type="PassengerConfirm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassengerConfirm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfoPassenger" type="Passenger" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataPassenger" type="DataPassenger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataPassenger">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="surname" type="xs:string" />
    <xs:attribute name="holder" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="Customer">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="surname" type="xs:string" />
    <xs:attribute name="age" type="xs:int" use="required" />
    <xs:attribute name="phone" type="xs:string" />
    <xs:attribute name="email" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="eTransactionStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Transaction_Start" />
      <xs:enumeration value="Transaction_End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CanceledRate" nillable="true" type="CanceledRate" />
  <xs:element name="CanceledRates" nillable="true" type="CanceledRates" />
  <xs:element name="CancellationPolicies" nillable="true" type="CancellationPolicies" />
  <xs:element name="CancellationPolicy" nillable="true" type="CancellationPolicy" />
  <xs:element name="ContactPhone" nillable="true" type="ContactPhone" />
  <xs:element name="ContactPhoneList" nillable="true" type="ContactPhoneList" />
  <xs:element name="Customer" nillable="true" type="Customer" />
  <xs:element name="DataPassenger" nillable="true" type="DataPassenger" />
  <xs:element name="Errors" nillable="true" type="Errors" />
  <xs:element name="MyError" nillable="true" type="MyError" />
  <xs:element name="FlightInfo" nillable="true" type="FlightInfo" />
  <xs:element name="TerminalInfo" nillable="true" type="TerminalInfo" />
  <xs:element name="Frequency" nillable="true" type="Frequency" />
  <xs:element name="GlobalAddressesInfo" nillable="true" type="GlobalAddressesInfo" />
  <xs:element name="GlobalAddressInfo" nillable="true" type="GlobalAddressInfo" />
  <xs:element name="GlobalLocation" nillable="true" type="GlobalLocation" />
  <xs:element name="HotelInfo" nillable="true" type="HotelInfo" />
  <xs:element name="Image" nillable="true" type="Image" />
  <xs:element name="Images" nillable="true" type="Images" />
  <xs:element name="IncludedTax" nillable="true" type="IncludedTax" />
  <xs:element name="IncludedTaxes" nillable="true" type="IncludedTaxes" />
  <xs:element name="Location" nillable="true" type="Location" />
  <xs:element name="Locator" nillable="true" type="Locator" />
  <xs:element name="Locators" nillable="true" type="Locators" />
  <xs:element name="OptionRate" nillable="true" type="OptionRate" />
  <xs:complexType name="OptionRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RefTransfers" type="RefTransfers" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parameters" type="Parameters" />
    </xs:sequence>
    <xs:attribute name="status" type="xs:string" />
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="refSegment" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="RefTransfers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RefTransfer" type="RefTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefTransfer">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="refTransfer" type="xs:int" use="required" />
        <xs:attribute name="dateStart" type="xs:dateTime" use="required" />
        <xs:attribute name="dateEnd" type="xs:dateTime" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="RefTransfers" nillable="true" type="RefTransfers" />
  <xs:element name="RefTransfer" nillable="true" type="RefTransfer" />
  <xs:element name="Options" nillable="true" type="Options" />
  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" type="OptionRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameter" nillable="true" type="Parameter" />
  <xs:element name="Parameters" nillable="true" type="Parameters" />
  <xs:element name="Passenger" nillable="true" type="Passenger" />
  <xs:element name="RefSegments" nillable="true" type="RefSegments" />
  <xs:element name="RefSegment" nillable="true" type="RefSegment" />
  <xs:element name="PassengerConfirm" nillable="true" type="PassengerConfirm" />
  <xs:element name="Passengers" nillable="true" type="Passengers" />
  <xs:element name="PassengersConfirm" nillable="true" type="PassengersConfirm" />
  <xs:element name="PlaceInfo" nillable="true" type="PlaceInfo" />
  <xs:element name="Preferences" nillable="true" type="Preferences" />
  <xs:complexType name="Preferences">
    <xs:attribute name="currency" type="xs:string" />
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="Price" />
  <xs:element name="Rate" nillable="true" type="Rate" />
  <xs:complexType name="Rate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Taxes" type="Taxes" />
      <xs:element minOccurs="0" maxOccurs="1" name="Options" type="Options" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalRate" type="Price" />
      <xs:element minOccurs="0" maxOccurs="1" name="Passengers" type="Passengers" />
      <xs:element minOccurs="0" maxOccurs="1" name="BagPricesInfo" type="BagPricesInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="RefTransfers" type="RefTransfers" />
      <xs:element minOccurs="0" maxOccurs="1" name="Supplements" type="Supplements" />
      <xs:element minOccurs="0" maxOccurs="1" name="CancellationPolicies" type="CancellationPolicies" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="providerCode" type="xs:string" />
    <xs:attribute name="providerExternalCode" type="xs:string" />
    <xs:attribute name="rateType" type="eRateType" use="required" />
  </xs:complexType>
  <xs:complexType name="Supplements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplement" type="Supplement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Supplement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Quantity" type="QuantityPriceInfo" />
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" />
  </xs:complexType>
  <xs:element name="Rates" nillable="true" type="Rates" />
  <xs:complexType name="Rates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rate" type="Rate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Segment" nillable="true" type="Segment" />
  <xs:element name="Segments" nillable="true" type="Segments" />
  <xs:complexType name="Segments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="Segment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedOption" nillable="true" type="SelectedOption" />
  <xs:element name="SelectedOptions" nillable="true" type="SelectedOptions" />
  <xs:element name="SelectedRate" nillable="true" type="SelectedRate" />
  <xs:element name="SelectedRates" nillable="true" type="SelectedRates" />
  <xs:element name="SelectedSupplement" nillable="true" type="SelectedSupplement" />
  <xs:element name="SelectedSupplements" nillable="true" type="SelectedSupplements" />
  <xs:element name="Supplement" nillable="true" type="Supplement" />
  <xs:element name="Supplements" nillable="true" type="Supplements" />
  <xs:element name="Taxes" nillable="true" type="Taxes" />
  <xs:element name="Transfer" nillable="true" type="Transfer" />
  <xs:element name="InfoTransfer" nillable="true" type="InfoTransfer" />
  <xs:element name="Transfers" nillable="true" type="Transfers" />
  <xs:element name="TransferStop" nillable="true" type="TransferStop" />
  <xs:element name="TransferStops" nillable="true" type="TransferStops" />
  <xs:element name="Vendor" nillable="true" type="Vendor" />
  <xs:element name="vendorMessage" nillable="true" type="vendorMessage" />
  <xs:element name="Vouchers" nillable="true" type="Vouchers" />
  <xs:complexType name="Vouchers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Voucher" type="Voucher" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Voucher">
    <xs:attribute name="urlVoucher" type="xs:string" />
  </xs:complexType>
  <xs:element name="Voucher" nillable="true" type="Voucher" />
  <xs:element name="Warnings" nillable="true" type="Warnings" />
  <xs:element name="Warning" nillable="true" type="Warning" />
  <xs:element name="BookRQ" type="BookRQ" />
  <xs:complexType name="BookRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Locator" type="Locator" />
          <xs:element minOccurs="0" maxOccurs="1" name="SelectedRates" type="SelectedRates" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassengersConfirm" type="PassengersConfirm" />
          <xs:element minOccurs="0" maxOccurs="1" name="GlobalAddressesInfo" type="GlobalAddressesInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Customer" type="Customer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookRS" type="BookRS" />
  <xs:complexType name="BookRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Locators" type="Locators" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalPrice" type="Price" />
          <xs:element minOccurs="0" maxOccurs="1" name="SelectedRates" type="SelectedRates" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReservationStatus" type="eTransactionStatusType" />
        </xs:sequence>
        <xs:attribute name="TransactionStatusCode" type="eTransactionStatusCode" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetrieveBookingListRQ" type="RetrieveBookingListRQ" />
  <xs:complexType name="RetrieveBookingListRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DateFrom" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateTo" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="SearchType" type="eSearchType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProviderCode" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="eSearchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOKING_CREATION" />
      <xs:enumeration value="TRANSFER_STARTDATE" />
      <xs:enumeration value="TRANSFER_ENDDATE" />
      <xs:enumeration value="BOOKING_MODIFICATION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RetrieveBookingListRS" type="RetrieveBookingListRS" />
  <xs:complexType name="RetrieveBookingListRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" type="Booking" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetrieveBookingRQ" type="RetrieveBookingRQ" />
  <xs:complexType name="RetrieveBookingRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Locator" type="Locator" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetrieveBookingRS" type="RetrieveBookingRS" />
  <xs:complexType name="RetrieveBookingRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Locator" type="Locator" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraLocators" type="Locator" />
          <xs:element minOccurs="0" maxOccurs="1" name="SelectedRates" type="SelectedRates" />
          <xs:element minOccurs="0" maxOccurs="1" name="GlobalAddressesInfo" type="GlobalAddressesInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassengersConfirm" type="PassengersConfirm" />
          <xs:element minOccurs="0" maxOccurs="1" name="Customer" type="Customer" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReservationStatus" type="eTransactionStatusType" />
        </xs:sequence>
        <xs:attribute name="TransactionStatusCode" type="eTransactionStatusCode" />
        <xs:attribute name="BookingCreationDate" type="xs:dateTime" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailabilityRQ" type="AvailabilityRQ" />
  <xs:complexType name="AvailabilityRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Segments" type="Segments" />
          <xs:element minOccurs="0" maxOccurs="1" name="Passengers" type="Passengers" />
          <xs:element minOccurs="0" maxOccurs="1" name="Preferences" type="Preferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailabilityRS" type="AvailabilityRS" />
  <xs:complexType name="AvailabilityRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Transfers" type="Transfers" />
          <xs:element minOccurs="0" maxOccurs="1" name="Rates" type="Rates" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DestinationsTreeRQ" type="DestinationsTreeRQ" />
  <xs:complexType name="DestinationsTreeRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DestinationsTreeRS" type="DestinationsTreeRS" />
  <xs:complexType name="DestinationsTreeRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Destination" type="Destination" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Destination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Position" type="Position" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Child" type="Child" />
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="eLocationType" use="required" />
    <xs:attribute name="avail" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="Position">
    <xs:attribute name="latitude" type="xs:string" />
    <xs:attribute name="longitude" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Child">
    <xs:attribute name="code" type="xs:string" />
  </xs:complexType>
  <xs:element name="Destination" nillable="true" type="Destination" />
  <xs:element name="Position" nillable="true" type="Position" />
  <xs:element name="Child" nillable="true" type="Child" />
  <xs:element name="HotelListRQ" type="HotelListRQ" />
  <xs:complexType name="HotelListRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HotelListRS" type="HotelListRS" />
  <xs:complexType name="HotelListRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" type="Hotel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MinimumLevelDestination" type="MinimumLevelDestination" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactInfo" type="ContactInfo" />
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="address" type="xs:string" />
    <xs:attribute name="town" type="xs:string" />
    <xs:attribute name="postalCode" type="xs:string" />
    <xs:attribute name="ISOCountryCode" type="xs:string" />
    <xs:attribute name="lat" type="xs:string" />
    <xs:attribute name="lon" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MinimumLevelDestination">
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ContactInfo">
    <xs:attribute name="email" type="xs:string" />
    <xs:attribute name="PhoneNmbr" type="xs:string" />
    <xs:attribute name="Fax" type="xs:string" />
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="Hotel" />
  <xs:element name="MinimumLevelDestination" nillable="true" type="MinimumLevelDestination" />
  <xs:element name="ContactInfo" nillable="true" type="ContactInfo" />
  <xs:element name="StaticConfigurationRQ" type="StaticConfigurationRQ" />
  <xs:complexType name="StaticConfigurationRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StaticConfigurationRS" type="StaticConfigurationRS" />
  <xs:complexType name="StaticConfigurationRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="HotelList" type="eCallType" />
          <xs:element minOccurs="1" maxOccurs="1" name="DestinationsTree" type="eCallType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="eCallType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="online" />
      <xs:enumeration value="offline" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RateRuleRQ" type="RateRuleRQ" />
  <xs:complexType name="RateRuleRQ">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRQ">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SelectedRates" type="SelectedRates" />
          <xs:element minOccurs="0" maxOccurs="1" name="Passengers" type="Passengers" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RateRuleRS" type="RateRuleRS" />
  <xs:complexType name="RateRuleRS">
    <xs:complexContent mixed="false">
      <xs:extension base="TransfersBaseRS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SelectedRates" type="SelectedRates" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="eLocationType" type="eLocationType" />
  <xs:element name="eTransferType" type="eTransferType" />
  <xs:element name="eLocatorType" type="eLocatorType" />
  <xs:element name="errorCodesType" type="errorCodesType" />
  <xs:element name="eRateType" type="eRateType" />
  <xs:element name="eCallType" type="eCallType" />
  <xs:element name="ePriceType" type="ePriceType" />
  <xs:element name="ePenaltyType" type="ePenaltyType" />
  <xs:element name="eBagPriceAmountType" type="eBagPriceAmountType" />
  <xs:element name="ePaxType" type="ePaxType" />
  <xs:element name="eTransactionStatusType" type="eTransactionStatusType" />
  <xs:element name="eSearchType" type="eSearchType" />
  <xs:element name="eTransactionStatusCode" type="eTransactionStatusCode" />
  <xs:element name="eTaxId" type="eTaxId" />
  <xs:element name="ePhoneUseType" type="ePhoneUseType" />
  <xs:element name="ePhoneTechnologyType" type="ePhoneTechnologyType" />
  <xs:element name="TransfersProvider" nillable="true" type="TransfersProvider" />
  <xs:complexType name="TransfersProvider" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ProviderBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProviderBase" abstract="true" />
</xs:schema>